.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 8px 8px 8px red;
}
.note{
    font-size: 15px;
    color: darkred;
}
.copy_right_footer{
    position: fixed;
    color: black;
    font-weight: bold;
    width: 100%;
    background-color: coral;
    text-align: center;
    bottom: 0;
    line-height: 5;
}
canvas{
    border: 5px double coral;
    border-radius: 20px;
    box-shadow: 6px 6px 6px darkred;
}